/.venv
/data
/modelli
Daniel_15_30_15_exo_vero-001.xlsx
MVN_User_Manual.pdf
Thesis_Daniel_Camilo_Ruiz.pdf
XSensTrials/how_can_i_make_this_faster.py
experiments_data/
envelope_bts/danishNotebook.ipynb
experimentsData/
*.json
XSensTrials\trainingMisureAggiunte.ipynb
\analysis_functions\__pycache__\
\envelope_bts\integrale.ipynb
*\finetuning.py
*.docx
*.pyc
*.png
prova_ste/
requireements.txt
*.pdf
\mLrunl